node_modules
dist
.env
.DS_Store
.vscode
.idea
npm-debug.log
yarn-error.log
coverage
*.log
*.tmp
*.bak
*.swp 
/build
/out
/.next
/.nuxt
/.cache           
/public/build
/public/dist
/.parcel-cache
/.turbo
/.pnp.cjs
.pnp.js     
/.pnp.loader.mjs
/.pnp.loader.cjs  
